<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <html lang="en" class="full-height">


  <% include ./partials/header %>

  <div class="contacts">
  	<span class="heading">You can reach us out on -</span>
  	<span class="option">Mail - evolve.kgp@gmail.com</span>
  	<span class="option">Phone - +91 8609283095,  +91 7718357289</span>
  	<span class="option">Post - 863 P Block, New Alipore Kolkata, 700053 India</span>
  </div>

  <% include ./partials/footer %>

</body>

</html>
