<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>

  <!-- Start your project here-->
  <html lang="en" class="full-height">

  <!--Main Navigation-->
  <% include ./partials/header %>
  <!--Main Navigation-->

  <!--Main Layout-->
  <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="/img/education1.jpg" alt="First slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Welcome to EVOLVE Educational Institute</h3>
        <p>Where success is the culture</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/img/education2.jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">School learning was never enough</h3>
        <p>Just ask your kid</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/img/education3.jpg" alt="Third slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Dedicated team of IITians for personal guidance</h3>
        <p>Online exams, personal guidance.</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
  
  <div class="faculty">
    <h3>Our faculties</h3>
    <div class="faculty-cards">
      <!-- Card Wider -->
  <div class="card card-cascade wider">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img  class="card-img-top" src="/img/f1.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h4 class="card-title"><strong>Satya Prakash</strong></h4>
      <!-- Subtitle -->
      <h5 class="blue-text pb-2"><strong>HOD Mathematics</strong></h5>
      <!-- Text -->
      <p class="card-text">B.Tech + M.Tech from IIT Kharagpur </p>


    </div>

  </div>
  <!-- Card Wider -->
  <!-- Card Wider -->
  <div class="card card-cascade wider">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img  class="card-img-top" src="/img/f2.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h4 class="card-title"><strong>Avinash Prakash</strong></h4>
      <!-- Subtitle -->
      <h5 class="blue-text pb-2"><strong>HOD Physics</strong></h5>
      <!-- Text -->
      <p class="card-text">B.Tech + M.Tech from IIT Kharagpur</p>



    </div>

  </div>
  <!-- Card Wider -->
  <!-- Card Wider -->
  <div class="card card-cascade wider">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img  class="card-img-top" src="/img/f3.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h4 class="card-title"><strong>Hariom Singh</strong></h4>
      <!-- Subtitle -->
      <h5 class="blue-text pb-2"><strong>HOD Chemistry </strong></h5>
      <!-- Text -->
      <p class="card-text">B.Tech + M.Tech from IIT Kharagpur</p>

    </div>

  </div>
  <!-- Card Wider -->
  <!-- Card Wider -->
  <div class="card card-cascade wider">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img  class="card-img-top" src="/img/f4.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h4 class="card-title"><strong>Shreedhar Sahoo</strong></h4>
      <!-- Subtitle -->
      <h5 class="blue-text pb-2"><strong>HOD Biology </strong></h5>
      <!-- Text -->
      <p class="card-text">B.Tech + M.Tech IIT Kharagpur</p>

    </div>

  </div>
  <!-- Card Wider -->
    </div>
  </div>

  <div class="testimonials">
    <h3>Testimonials</h3>
    <div class="testi-cards">
      <!-- Card -->
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="/img/testimonial-1.jpg" class="rounded-circle" alt="woman avatar">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Atul Singh</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> What can be more wonderful than this ? You will learn from all IITian faculties.</p>
        </div>

      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="/img/testimonial-2.jpg" class="rounded-circle" alt="woman avatar">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Shivam Sharma</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> I personally met people there. I feel they are going to take over all other coaching institutes.</p>
        </div>

      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="/img/testimonial-3.jpg" class="rounded-circle" alt="woman avatar">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Anjaney Sharma</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> Where talent meet experience.</p>
        </div>

      </div>
      <!-- Card -->
    </div>
  </div>

  <div class="jumbotron">
    <h2 class="h1-responsive">How are we different?</h2>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dedicated team of faculty members</h5>
          <p class="card-text">The faculty members associated with EVOLVE are a strong and dedicated team of experts, who are from IIT'S and possess experience to incubate student's at very basic level and simultaneously make them adapt able to face the tough comeptitive examinations like JEE( Mains/Adv. ) / WBJEE / NEET / AII MS and various other pre engg. exams successfully . The Faculties are more like companions who inspire the students to master the concepts from beginners to advanced level.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Focused and Competitive enviroment</h5>
          <p class="card-text">With the rampant and exponential growth in expenditures in urban areas, it is very difﬁcult for expenditures in urban areas, it is very difﬁcult for the students to go and join some coaching classes away from their home. With the motive of helping the students and sharing our experience for their vision to study in prestigious institutes of INDIA , we bring focussed and competitive environment right into people’s home, where student community can have the enormousdent community can have the enormous emotional suppport from their parents, while being focused and groomed for their career.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Personalized assistance</h5>
          <p class="card-text">Unlike other coaching classes , who focussolely upon the rank breed, EVOLVE is com- mitted for individual attention to each and every student irrespective of one's standingin merit. This personal and individual atten- tion not only enthuse the individual to excel but also gives them the moral supportwhich is of utmost required during prepara-which is of utmost required during prepara-tion</p>
        </div>
      </div>
  </div>
    <a class="btn btn-primary btn-lg" role="button">Learn more</a>
</div>
	
	<% include ./partials/footer %>

</body>

</html>
